ul li a {
    text-decoration: underline;
    font-size: 180%;
    padding: 8px;
    font-family: 'Sarabun', sans-serif;
}

ul li {
    list-style-type: none;
    display: inline;
    margin: 50px;
}

ul {
    margin-top: 20px;
    text-align: center;
    color: #3C4858;
}

