.tasksList, .membersList{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #3C4858;
}

hr {
    border:none;
    border-top: 5px dotted black;
    height:1px;
    width:80%;
}

.title {
    font-family: 'Sarabun', sans-serif;
    font-weight: normal;
    display: block;
    margin-left: 20px;
    color: #3C4858;
}


.listOfTasks{
    min-width: 100px;
    margin: 15px;
}
