.task {
    -webkit-box-shadow: 0px 0px 44px 0px rgba(217,217,217,1);
    -moz-box-shadow: 0px 0px 44px 0px rgba(217,217,217,1);
    box-shadow: 0px 0px 44px 0px rgba(217,217,217,1);
    float: left;
    display: block;
    margin: 10px;
    padding: 20px;
    font-family: 'Handlee', cursive;
    color: #3C4858;
}

.taskInput{
    color: #4AD9D9;
}

#doneBox{
    color: #36B1BF;
    font-weight: bolder;
    font-family: 'Sarabun', sans-serif;
    font-size: 130%;
    margin-left: 8px;
}

.taskLabels{
    text-decoration: underline;
    font-family: 'Sarabun', sans-serif;
    font-size: 180%;
}

.deleteBtn {
    width: 65%;
    padding: 8px;
    margin: 0 auto;
    display: block;
    font-family: 'Sarabun', sans-serif;
    font-size: 120%;
    background-color: #F23C50;
    color: white;
}

/*color scheme: Copia de Copia de Copy of Billar*/